/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #fafafa;
    color: #020318;
}

/* LANDING PAGE CSS */
header {
    display:flex;
    flex-direction: row;
    background-color: #2c3e50;
    color: white;
    padding-left:20px;
    padding-right:20px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
   
}

header .logo h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.logo-wrapper{
    color:white;
    text-decoration: none;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 920px;
    color: white;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.8), rgba(200, 205, 206, 0.4)), 
                url("../img/hero3.jpg");
    background-size:cover;
    background-position: contain;
    margin:0 auto;
}

@keyframes slideInFromRight {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.hero-content {
    animation: slideInFromRight 1s ease-out;
}

.hero h2 {
    font-size: 4rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 80px;
}

.cta-btn {
    background-color: #f39c12;
    color: white;
    padding: 12px 30px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    text-decoration: none;
}

.cta-btn:hover {
    background-color: #e67e22;
}

.features {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 40px 20px;
    background-color: #ecf0f1;
    text-align: center;
    height:320px;
    align-items: center;
    row-gap:60px;
}

.features-wrapper{
    width:70%;
}

.feature-item {
    width: 30%;
}

.feature-item h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.feature-item p {
    font-size: 1.1rem;
    color: #414748;
}

.how-it-works-wrapper{
    margin-top:40px;
}

.steps{
    display:flex;
    flex-direction: column;
    gap:30px;
}

.step{
    font-size:140%;
}

/* Features */
.features, .how-it-works, .pricing, .testimonials, .faq, .contact {
    text-align: left;
    padding: 50px;
    margin: 0 auto;
    align-items: center;
    align-content: center;
    justify-content: center;
    display:flex;
    flex-direction: column;
}


.feature-grid {
    display: flex;
    justify-content: space-around;
}

.feature-item,  .plan {
    width: 30%;
}

.cta {
    display:flex;
    flex-direction: column;
    justify-content: center;
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 50px 20px;
    height:300px;
    align-items: center;
}

.cta h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

footer {
    background-color: #ffff;
    color:black;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: 100%;
    height:50px;
}

footer p {
    font-size: 1rem;
}

/* SIGN-UP PAGE CSS */
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signup-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.signup-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}


.btn {
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.btn:hover {
    background: #0056b3;
}


/* LOGIN PAGE CSS */

.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.alert {
    color: red;
    background-color: #ffdddd;
    border: 1px solid red;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 14px;
}


/* INVENTORY PAGE CSS */
/* Overall container layout */
.container {
    display: flex;
    height: 100vh;
}




/* Sidebar Styles */
.sidebar {
    width: 200px;
    background-color: #2d3e50;
    color: white;
    font-family: Arial, sans-serif;
    position: relative;
    transition: width 0.3s;
}

.sidebar.minimized {
    width: 80px;
}

.sidebar-logo {
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.logo-text {
    transition: opacity 0.3s;
}

/* The logo text will be hidden when minimized */
.sidebar.minimized .logo-text {
    opacity: 0;
    height: 0;
}

/* Hamburger button */
.toggle-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style-type: none;
    padding: 0;
    margin-top: 160px; /* Push down the items below the button */
}

.sidebar-menu li {
    margin: 20px 0;
}

.menu-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative; /* To position the blue bar */
    padding-left:30px;
    padding-right:30px;
    padding-top:5px;
    padding-bottom:5px;
    
}




.menu-item .text {
    margin-left: 10px;
}

.menu-item:hover {
    background-color: #3e5363;
    
}

.menu-item::after {
    content: '';
    position: absolute;
    left:0; /* Position to the right of the menu item */
    top: 0;
    bottom: 0;
    width: 4px; /* Width of the blue bar */
    background-color: rgb(255, 255, 255); /* Color of the bar */
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s ease; /* Smooth transition */
}

.menu-item:hover::after {
    opacity: 1; /* Make the blue bar visible on hover */
}

.version-number{
    position:absolute;
    top:95%;
    font-size: 12px;
    left:30%
}

/* Minimized Sidebar Items */
.sidebar.minimized .menu-item .text {
    display: none;
}

.sidebar.minimized .menu-item {
    justify-content: center;
}

.sidebar.minimized .menu-item i {
    font-size: 22px;
}

.sidebar.minimized .menu-item li{
    margin:0;
}

  /* Sidebar Minimized */
  .sidebar.minimized .text,
  .sidebar.minimized #dropdown-arrow {
      display: none;
  }

  /* Show dropdown on hover when sidebar is minimized */
  .sidebar.minimized .dropdown:hover .dropdown-menu {
    display: block;
    position: absolute;
    background: #264b72;
    padding: 0px;
    margin: 0 auto;
    left: 80px;  /* Adjust to position it to the right of the sidebar */
    top: 250px;      /* Align dropdown on the same level as the category */
    width: 100px;
    max-height: 200px;
    z-index: 100;
    text-align: center;
    font-weight: bold;
}

  .sidebar.minimized .dropdown-menu li {
      padding: 0px;
  }

  .sidebar.minimized .dropdown-menu li a {
      color: #fff;
      text-decoration: none;
      font-size:90%;
  }

  .sidebar.minimized .dropdown-menu li a:hover {
      text-decoration: none;
      
  }

  .sidebar.minimized .dropdown-menu li a:hover{
    background-color:#007bff;
    padding:7px;
    border-radius: 3px;
  }

.dropdown-menu {
    display: none;
    list-style: none;
    padding-left: 60px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.dropdown-menu.show {
    display: block;
    max-height: 200px;
    
    
}

.dropdown-arrow{
    font-size: 80%;
    margin-left:4%;
}

.dropdown-menu-item{
    color:white;
    text-decoration: none;
}

/* Main Content Area */
.main-content {
    flex-grow: 1;
    background-color: #477cdf0a;
    padding: 20px;
    font-family: Arial, sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 24px;
}

.user-info {
    font-size: 16px;
}

.logout-btn {
    background-color: #f44336;
    color: white;
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #d32f2f;
}

/* Asset Cards Section */
.asset-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.card p {
    font-size: 16px;
    color: #666;
}


/* All Assets CSS */

/* Assets List */
.heading-section {
    padding: 20px;
}


.assets h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.assets-list{
   align-items: center;
   margin: 0 auto;
   background-color: rgb(255, 255, 255);
   padding:1%;
   border:2px solid rgba(26, 87, 199, 0.137);
}

.assets-list-heading-container {
    display: flex;
    flex-direction: row;
    font-size: 80%;
    justify-content: space-between;
    padding:0.5%;
    margin-bottom:1%;
}

.assets-list-items-container{
    display: flex;
    flex-direction: row;
    font-size: 80%;
    justify-content: space-between;
    padding:0.5%;
}

.asset-list-title-item{
    width:100px;
    height:10px;
}

.title-body-group{
    width:100px;
    height:30px;
}


.inner-action-group{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.assets-edit-button{
    width:30px;
    height:30px;
    background-color:orange;
    cursor: pointer;
    border: 1px solid rgb(202, 133, 4);
    color:white;
}

.assets-delete-button{
    width:30px;
    height:30px;
    background-color: rgb(204, 80, 80);
    cursor: pointer;
    border: 1px solid rgb(202, 47, 47);
    color:white;
}

.blue-row {
    background-color: #9fb4c21c; /* Blue */
}

.lightblue-row {
    background-color: #ffffff; /* Light Blue */
    color: black; /* Text color */
}


.assets-list-body-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: space-between;
    width:80%;
    font-size: 80%;
}

.asset-item {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.asset-item h3 {
    font-size: 20px;
    margin-bottom: 5px;
}

.asset-item p {
    font-size: 16px;
    color: #555;
}

/* Assets Page Top Heading */

.default-list-top-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.new-asset-btn{
    cursor: pointer;
    padding: 8px 16px;
    background-color: #3c4561;
    border:none;
    color:white;
}

.new-asset-btn:hover{
    background-color:#5e6d99; ;
}


/* New Asset Page */

.default-form-container {
    margin:0 auto;
    display:flex;
    flex-direction: row;
    gap:10%;
}



.default-form{
    width:50%;
    height:50%;
    margin-top:10%;
    background-color:white;
    padding:2%;
}

.form-group textarea {
    resize: none; /* Disable resizing */
    width:50%;
}

.form-actions {
    display:flex;
    justify-content: space-between;

}

.form-cancel{
    font-size: 90%;
    text-decoration: none;

}