{% extends "inventory.html" %}
{% block content %}

<section class="heading-section">
    <div class="assets-list-top-container default-list-top-container">
        <h1>Assets List</h1>
        <div class="create-new-asset-btn">
            <a href="{{ url_for('new_asset') }}">
                <button class="new-asset-btn">Create New</button>
            </a>
        </div>
    </div>
</section>   

<section class="assets-list">
    <div class="assets-list-container">
        <div class="assets-list-heading-container">
            <p class="asset-list-title-item"><strong>Asset Name</strong></p>
            <p class="asset-list-title-item asset-list-title-item-model"><strong>Model</strong></p>
            <p class="asset-list-title-item"><strong>Serial</strong> </p>
            <p class="asset-list-title-item"><strong>Location</strong> </p>
            <p class="asset-list-title-item"><strong>Category</strong> </p>
            <p class="asset-list-title-item"><strong>Purchase Date</strong> </p>
            <p class="asset-list-title-item"><strong>Purchase Cost</strong> </p>
            <p class="asset-list-title-item-action"><strong>Actions</strong> </p>
        </div>

        {% for asset in assets %}
        <div class="assets-list-items-container {% if loop.index0 % 2 == 0 %}blue-row{% else %}lightblue-row{% endif %}">
            <div class="title-body-group">
                
                <p>{{ asset.asset_tag }}</p>
            </div>
            <div class="title-body-group title-body-group-model">
                
                <p>{{ asset.model}}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.serial }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.location }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.category }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.purchase_date }}</p>
            </div>
            <div class="title-body-group ">
                
                <p>{{ asset.purchase_cost }}</p>
            </div>
            <div class="title-body-group title-body-group-actions">
                
                <div class="inner-action-group">
                    <div class="assets-interactive-btn">
                        <a href="{{ url_for('asset_properties', asset_id=asset._id) }}">
                            <button class="assets-edit-button">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </a>
                        <form action="{{ url_for('delete_asset', asset_id=asset._id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this asset?');">
                            <button class="assets-delete-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</section>


{% endblock %}
