{% extends "inventory.html" %}
{% block content %}

<section class="heading-section">
    <div class="assets-list-top-container default-list-top-container">
        <h1>{{ trans('assets_list') }}</h1>
        <div class="create-new-element-btn">
            <a href="{{ url_for('new_asset') }}">
                <button class="new-element-btn">{{ trans('create_new') }}</button>
            </a>
        </div>
    </div>
</section>   

<section class="assets-list">
    <div class="assets-list-container">
        <div class="assets-list-heading-container">
            <p class="asset-list-title-item"><strong>{{ trans('name') }}</strong></p>
            <p class="asset-list-title-item"><strong>{{ trans('image') }}</strong></p>
            <p class="asset-list-title-item asset-list-title-item-model"><strong>{{ trans('model') }}</strong></p>
            <p class="asset-list-title-item"><strong>{{ trans('serial') }}</strong> </p>
            <p class="asset-list-title-item"><strong>{{ trans('location') }}</strong> </p>
            <p class="asset-list-title-item"><strong>{{ trans('category') }}</strong> </p>
            <p class="asset-list-title-item"><strong>{{ trans('purchase_date') }}</strong> </p>
            <p class="asset-list-title-item"><strong>{{ trans('purchase_cost') }}</strong> </p>
            <p class="asset-list-title-item asset-list-title-item-action"><strong>{{ trans('actions') }}</strong> </p>
        </div>

        {% for asset in assets %}
        <div class="assets-list-items-container {% if loop.index0 % 2 == 0 %}blue-row{% else %}lightblue-row{% endif %}">
            <div class="title-body-group">
                
                <p><a href="{{ url_for('view_asset', asset_id=asset._id) }}">{{ asset.asset_tag }}</a></p>
            </div>
           
            <div class="title-body-group title-body-group-image-name">
                {% if asset.image_id %}
                    <img src="{{ url_for('get_image', image_id=asset.image_id) }}"
                         alt="Asset Image"
                         class="asset-thumbnail">
                {% else %}
                    <img src="{{ url_for('static', filename='img/no-image.jpg') }}"
                         alt="No Image"
                         class="asset-thumbnail">
                {% endif %}
                
            </div>
           
            
            <div class="title-body-group title-body-group-model">
                
                <p>{{ asset.model}}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.serial }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.location }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.category }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ asset.purchase_date }}</p>
            </div>
            <div class="title-body-group ">
                
                <p>{{ asset.purchase_cost }}</p>
            </div>
            <div class="title-body-group title-body-group-actions">
                
                <div class="inner-action-group">
                    <div class="assets-interactive-btn">
                        <a href="{{ url_for('asset_properties', asset_id=asset._id) }}">
                            <button class="assets-edit-button">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </a>
                         <form action="{{ url_for('delete_asset', asset_id=asset._id) }}" method="POST" onsubmit="return confirm('{{ trans('delete_asset_confirm') }}');">
                            <button class="assets-delete-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</section>


{% endblock %}
