{% extends "inventory.html" %}
{% block content %}
<section class="heading-section">
    <div class="default-list-top-container">
        <h1 class="assets-heading">Locations</h1>
        <div class="create-new-element-btn create-new-category">
            <a href="{{ url_for('new_location') }}">
                <button class="new-element-btn">Create New</button>
            </a>
        </div>
    </div>
</section>

<section class="assets-list">
    <div class="assets-list-container">
        <div class="assets-list-heading-container">
            <p class="asset-list-title-item"><strong>Name</strong></p>
            <p class="asset-list-title-item"><strong>Phone</strong></p>
            <p class="asset-list-title-item"><strong>Address</strong> </p>
            <p class="asset-list-title-item"><strong>City</strong> </p>
            <p class="asset-list-title-item"><strong>State</strong> </p>
            <p class="asset-list-title-item"><strong>Postal Code</strong> </p>
            <p class="asset-list-title-item asset-list-title-item-action"><strong>Actions</strong> </p>
        </div>

        {% for location in locations %}
        <div class="assets-list-items-container {% if loop.index0 % 2 == 0 %}blue-row{% else %}lightblue-row{% endif %}">
            <div class="title-body-group">
                
                <p>{{ location.location_tag }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ location.phone }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ location.address }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ location.city }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ location.state }}</p>
            </div>
            <div class="title-body-group">
                
                <p>{{ location.post_code }}</p>
            </div>
            <div class="title-body-group title-body-group-actions">
                
                <div class="inner-action-group">
                    <div class="assets-interactive-btn">
                        <a href="{{ url_for('location_properties', location_id=location._id) }}">
                            <button class="assets-edit-button">
                                <i class="fa-solid fa-pencil"></i>
                            </button>
                        </a>
                        <form action="{{ url_for('delete_location', location_id=location._id) }}" method="POST" onsubmit="return confirm('Are you sure you want to delete this asset?');">
                            <button class="assets-delete-button">
                                <i class="fa-solid fa-trash"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div> 
    {% endfor %}
    </div>
</section>
{% endblock %}
