{% extends "inventory.html" %}
{% block content %}

    
    <div class="new-asset-form-container default-form-container">
        <div class="new-asset-form-header">
            <h1 class="assets-heading">Add New Asset</h1>
        </div>
        <form class="new-asset-form default-form" action="{{ url_for('save_asset') }}" method="POST" enctype="multipart/form-data" id="asset-form">
            <div class="form-group">
                <label for="asset-tag">Asset Tag</label>
                <input type="text" id="asset-tag" name="asset-tag" placeholder="Enter Asset Tag" required>
            </div>

            <div class="form-group form-group-category">
                <label for="category">Category</label>
    
                <select id="category" name="category" required>
                    <option value="">Select a Category</option>
                    {% for category in categories %}
                        <option value="{{ category.name }}">{{ category.name }}</option>
                    {% endfor %}
                </select>

                <div class="create-new-element-btn">
                    <button type="button" class="new-element-btn" onclick="openPopup('category')">New</button>
                </div>
              
            </div>
            <div class="tooltip-text">
                <p>If Empty, Categories need to be created by clicking on the button</p>
            </div>
            

            <div class="form-group">
                <label for="serial">Serial Number</label>
                <input type="text" id="serial" name="serial" placeholder="Enter Serial Number">
            </div>

            <div class="form-group">
                <label for="model">Model</label>
                <input type="text" id="model" name="model" placeholder="Enter Model">
            </div>

            <div class="form-group">
                <label for="notes">Notes</label>
                <textarea id="notes" name="notes" placeholder="Enter any notes here" rows="4"></textarea>
            </div>

            <div class="form-group">
                <label for="warranty">Warranty Expiry</label>
                <div class="date-wrapper" onclick="document.getElementById('warranty').showPicker()">
                    <input type="date" id="warranty" name="warranty">
                </div>
            </div>

            <div class="form-group">
                <label for="order-number">Order Number</label>
                <input type="text" id="order-number" name="order-number" placeholder="Enter Order Number" >
            </div>

            <div class="form-group">
                <label for="purchase-cost">Purchase Cost</label>
                <input type="text" id="purchase-cost" name="purchase-cost" placeholder="Enter Purchase Cost">
            </div>

            <div class="form-group">
                <label for="purchase-date">Purchase Date</label>
                <div class="date-wrapper" onclick="document.getElementById('purchase-date').showPicker()">
                    <input type="date" id="purchase-date" name="purchase-date">
                </div>
            </div>

            <div class="form-group">
                <label for="location">Location</label>
                <select id="location" name="location">
                    <option value="">Select a location</option>
                    {% for location in locations %}
                        <option value="{{ location.location_tag }}">{{ location.location_tag }}</option>
                    {% endfor %}
                </select>

                <div class="create-new-element-btn">
                    <button type="button" class="new-element-btn" onclick="openPopup('location')">New</button>
                </div>
            </div>
            <div class="tooltip-text">
                <p>If Empty, Locations need to be created by clicking on the button
            </div>
            <div class="form-group">
                <label for="asset-image">Upload Asset Image</label>
                <input type="file" id="asset-image" name="image" accept="image/*">
            </div>

            <div class="form-actions">
                <a href="javascript:window.history.back()" class="form-cancel">Cancel</a>
                <button type="submit" class="btn save-btn"><i class="fa-solid fa-check"></i> Save</button>
            </div>
        </form>
    </div>

        <!-- Category Modal -->
    <div id="popup-modal-category" class="modal-overlay" style="display: none;">
        <div class="modal-content modal-new-category">
            <iframe id="popup-frame-category" src="" frameborder="0"></iframe>
            <button onclick="closePopup('category')" class="modal-close-btn">Close</button>
        </div>
    </div>

    <!-- Location Modal -->
    <div id="popup-modal-location" class="modal-overlay" style="display: none;">
        <div class="modal-content modal-new-location">
            <iframe id="popup-frame-location" src="" frameborder="0"></iframe>
            <button onclick="closePopup('location')" class="modal-close-btn">Close</button>
        </div>
    </div>

<script>
   
    document.getElementById('asset-form').addEventListener('submit', function(event) {
        
        const form = event.target;
        const fields = form.querySelectorAll('[required]');
        let valid = true;

        fields.forEach(function(field) {
            if (!field.value) {
                valid = false;
                field.classList.add('error');
            } else {
                field.classList.remove('error');
            }
        });

        if (!valid) {
            event.preventDefault();
            alert("Please fill out all required fields.");
        }
    });


    function openPopup(type) {
        let modal, iframe, url;

        if (type === "category") {
            modal = document.getElementById("popup-modal-category");
            iframe = document.getElementById("popup-frame-category");
            url = "{{ url_for('new_category') }}?modal=true";
        } else if (type === "location") {
            modal = document.getElementById("popup-modal-location");
            iframe = document.getElementById("popup-frame-location");
            url = "{{ url_for('new_location') }}?modal=true";
        }

        if (modal && iframe && url) {
            iframe.src = url;
            modal.style.display = "flex";
        }
    }

    function closePopup(type) {
        let modal, iframe;

        if (type === "category") {
            modal = document.getElementById("popup-modal-category");
            iframe = document.getElementById("popup-frame-category");
        } else if (type === "location") {
            modal = document.getElementById("popup-modal-location");
            iframe = document.getElementById("popup-frame-location");
        }

        if (modal && iframe) {
            iframe.src = "";
            modal.style.display = "none";
        }
    }

</script>



{% endblock %}