{% extends "inventory.html" %}
{% block content %}
<section class="heading-section">
    <div class="default-list-top-container">
         <h1>{{ trans('inventory_reports') }}</h1>
    </div>
</section>

<section class="reports-summary">
    <div class="assets-list-container">
        <div class="assets-list-heading-container">
            <p class="asset-list-title-item"><strong>{{ trans('category') }}</strong></p>
            <p class="asset-list-title-item"><strong>{{ trans('count') }}</strong></p>
        </div>
        {% for row in summary %}
        <div class="assets-list-items-container {% if loop.index0 % 2 == 0 %}blue-row{% else %}lightblue-row{% endif %}">
            <div class="title-body-group">
                <p>{{ row._id or trans('uncategorized') }}</p>
            </div>
            <div class="title-body-group">
                <p>{{ row.count }}</p>
            </div>
        </div>
        {% endfor %}
       <div class="assets-list-items-container blue-row">
            <div class="title-body-group"><strong>{{ trans('total') }}</strong></div>
            <div class="title-body-group"><strong>{{ total_assets }}</strong></div>
        </div>
        <div class="assets-list-items-container lightblue-row">
            <div class="title-body-group"><strong>{{ trans('total_asset_value') }}</strong></div>
            <div class="title-body-group"><strong>{{ currency_symbol }}{{ '%.2f'|format(total_value) }}</strong></div>
        </div>
    </div>

    <div class="report-export-btns" style="margin-top: 1rem;">
        <a href="{{ url_for('export_reports', file_format='csv') }}">
            <button class="new-element-btn">{{ trans('export_csv') }}</button>
        </a>
        <a href="{{ url_for('export_reports', file_format='pdf') }}">
            <button class="new-element-btn">{{ trans('export_pdf') }}</button>
        </a>
    </div>
</section>
{% endblock %}